html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
}
header {
  background-color: grey;
}
header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-cont,
right-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-brand {
  max-width: 110px;
}
.main-nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
.nav-item {
  margin-right: 20px;
  color: #e5e5e5;
  opacity: 0.83;
}
.nav-item.active {
  color: white;
  opacity: 1;
  font-weight: 500;
}
.right-cont img {
  margin-right: 22px;
  cursor: pointer;
}
.right-cont img {
  max-width: 20%;
}
.left-cont img {
  max-width: 15%;
}
.right-cont .fa-solid fa-magnifying-glass {
  align-items: center;
}
.right-cont {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
